<h1>Welcome to Robot World</h1>

<ul class="list-unstyled">
  <li><a href="/robots">View Robot Workers</a></li>
  <li><a href="/robots/new">Create a New Robot</a></li>
</ul>

<p>Average Age (years): <%= @results[:avg_age] %></p>
