<div class="jumbotron" style="background-image: url(http://wallpaper.pickywallpapers.com/2560x1440/bender-silhouette.jpg); background-size: cover;">
  <h1>Robot World</h1>
  <p>Get a robot to work for you!</p>
  <p><a class="btn btn-primary btn-lg" href="/robots" role="button">View Robot Database</a></p>
  <p><a class="btn btn-primary btn-lg btn-success" href="/robots/new" role="button">Hire a New Robot</a></p>
</div>

<h2>Robot Stats!</h2>
<p>Average Age: <%= @results[:avg_age] %> years</p>
