<h1>Welcome to Robot Workers</h1>

<ul class="list-unstyled">
  <li><a href="/robots">View All Robot Workers</a></li>
  <li><a href="/robots/new">Create a New Robot</a></li>
  <li><a href="/dashboard">View Stats About Robot Workers</a></li>
</ul>
