<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <title>Robot World</title>
</head>
<body>
  <div class="container">

    <nav class="navbar navbar-default">
      <i class="glyphicon glyphicon-off navbar-brand"></i>
      <ul class="nav navbar-nav">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/robots">Robot Database</a></li>
        <li><a href="/robots/new">Hire a Robot</a></li>
      </ul>
    </nav>

    <%= yield %>
  </div>
</body>
</html>
