<form action="/robots" method="post">
  <p>Enter the robot's information:</p>
  Name: <input type="text" name="robot[name]"><br/>
  City: <input type="text" name="robot[city]"><br/>
  State: <input type="text" name="robot[state]"><br/>
  Birthdate: <input type="date" name="robot[birthdate]"><br/>
  Date Hired: <input type="date" name="robot[date_hired]"><br/>
  Department: <input type="text" name="robot[department]"><br/>
  <input type="submit">
</form>
